<div class="container-fluid">
    <p class="h2">About</p>
    <p>Angular 17 project, connected to Java Spring Boot backend.</p>
    <p>
        My name is Wan Aminur Rahman, I am currently a Full Stack Developer (IT Officer) at IIUM.<br>
        I have 3+ years of experience in Frontend Web Development and my current stack is Angular, PostgreSQL, Apache, Laravel.<br>
        At IIUM, my responsibilities are managing and maintaining project such as MicroStrategy platform (BI platform) and a few websites such as<br>
        iPerform (provide the statistic from MicroStrategy for the end-user) and involved in developing Performance Appraisal and Promotion system<br>
        as lead frontend developer. 
    </p>
</div>